<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
    <extensions>
      <behaviorExtensions>
        <add name="silverlightFaults" type="CapsCollection.Web.ServiceHost.ServiceBehaviors.SilverlightFaultBehavior, CapsCollection.Web.ServiceHost, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <!-- bindings begin -->
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfiguration" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <!--<security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>-->
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingConfiguration" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <!-- bindings end -->
    <!-- services begin-->
    <services>
      <service behaviorConfiguration="GeographyBehavior" name="CapsCollection.Web.ServiceHost.Implementations.GeographyService">
        <endpoint address="" behaviorConfiguration="silverlightFaultBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IGeographyService"/>
        <endpoint address="rest" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IGeographyService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="BeerBehavior" name="CapsCollection.Web.ServiceHost.Implementations.BeerService">
        <endpoint address="" behaviorConfiguration="silverlightFaultBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IBeerService"/>
        <endpoint address="rest" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IBeerService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="AuthenticationBehavior" name="CapsCollection.Web.ServiceHost.Implementations.AuthenticationService">
        <endpoint address="" behaviorConfiguration="silverlightFaultBehavior" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IAuthenticationService"/>
        <endpoint address="rest" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfiguration" contract="CapsCollection.Web.ServiceHost.Contracts.IAuthenticationService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
    <!-- services end -->
    <!-- behaviors begin -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="GeographyBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CapsCollection.Web.ServiceHost.Security.ServiceUserNameValidator, CapsCollection.Web.ServiceHost"/>
          </serviceCredentials>
        </behavior>
        <behavior name="BeerBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CapsCollection.Web.ServiceHost.Security.ServiceUserNameValidator, CapsCollection.Web.ServiceHost"/>
          </serviceCredentials>
        </behavior>
        <behavior name="AuthenticationBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="CapsCollection.Web.ServiceHost.Security.ServiceUserNameValidator, CapsCollection.Web.ServiceHost"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp/>
        </behavior>
        <behavior name="silverlightFaultBehavior">
          <silverlightFaults/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- behaviors end -->
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000000" maxSizeOfMessageToLog="2000000"/>
    </diagnostics>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!-- NOTE: change to enabled="false" for production -->
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <!-- NOTE: change to switchValue="Warning" for production -->
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <!-- NOTE: change to switchValue="Warning" for production -->
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\logs\app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>